---
import Layout from "../layout/Layout.astro";
import FlipComponent from "../components/FlipComponent.astro";
import DearFlipComponent from "../components/DearFlipComponent.astro";
---

<Layout>
	<h1>Hi</h1>
	<!-- <FlipComponent /> -->
	<DearFlipComponent />
</Layout>
